---
const pageTitle = "Mi blog de Astro";
import '../styles/global.css';
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
		<h2>{pageTitle}</h2>
            <p>¡Hola! Este es mi blog de Astro, donde compartiré mis experiencias y aprendizajes mientras desarrollo este sitio web.</p>
            <ul>
                <li><a href="/posts/post-1">Post 1: Introducción a Astro</a></li>
                <li><a href="/posts/post-2">Post 2: Configuración del entorno de desarrollo</a></li>
                <li><a href="/posts/post-3">Post 3: Creación de componentes reutilizables</a></li>
            </ul>
</html>

