---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro'; 
const pageTitle = "Mi Blog de Astro";
const allPosts = await Astro.glob("./posts/*.md");
---
<BaseLayout pageTitle={pageTitle}>
	<p>¡Hola! Este es mi blog de Astro, donde compartiré mis experiencias y aprendizajes mientras desarrollo este sitio web.</p>
            <ul>
                {allPosts.map((post) => (
                    <BlogPost title={post.frontmatter.title} url={post.url} />
                ))}
            </ul>
</BaseLayout>
